<div id="menu_area" class="menu-area bg-d mb-5">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-light navbar-expand-lg mainmenu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="active"><a routerLink="home" class="nav-link" routerLinkActive="active">Home<span class="sr-only">(current)</span></a></li>
            <!------------->
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a routerLink="product" class="nav-link" routerLinkActive="active">List</a></li>
                <li *ngFor="let role of info.authorities"><a *ngIf="role === 'ROLE_ADMIN'" routerLink="create-product"  class="nav-link" routerLinkActive="active">Create Product</a></li>
                <li *ngFor="let role of info.authorities"><a *ngIf="role === 'ROLE_ADMIN'" routerLink="action-product" class="nav-link" routerLinkActive="active">Action Product</a></li>
              </ul>
            </li>
            <!------------->
            <li class="dropdown" *ngFor="let role of info.authorities">
              <a *ngIf="role === 'ROLE_ADMIN'" class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="categories" class="nav-link" routerLinkActive="active">List Category</a></li>
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="create/category" class="nav-link" routerLinkActive="active">Create Category</a></li>
              </ul>
            </li>
            <!------------->
            <li class="dropdown" *ngFor="let role of info.authorities">
              <a *ngIf="role === 'ROLE_ADMIN'" class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supplier</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="suppliers" class="nav-link" routerLinkActive="active">List Supplier</a></li>
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="create/supplier" class="nav-link" routerLinkActive="active">Create supplier</a></li>
              </ul>
            </li>
            <li class="dropdown" *ngFor="let role of info.authorities">
              <a *ngIf="role === 'ROLE_ADMIN'" class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Color</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="colors" class="nav-link" routerLinkActive="active">List Color</a></li>
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="create-colors" class="nav-link" routerLinkActive="active">Create Color</a></li>
              </ul>
            </li>
            <!------------->
            <li class="dropdown" *ngFor="let role of info.authorities">
              <a *ngIf="role === 'ROLE_ADMIN'" class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Size</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="sizes" class="nav-link" routerLinkActive="active">List Size</a></li>
                <li><a *ngIf="role === 'ROLE_ADMIN'" routerLink="create-sizes" class="nav-link" routerLinkActive="active">Create Size</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supplier filter</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li *ngFor="let supplier of suppliers"><a class="dropdown-item" [routerLink]="['/product-supplier', supplier.supplierId]">{{supplier.supplierName}}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category filter</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li  *ngFor="let category of categories"><a class="dropdown-item" [routerLink]="['/product-category', category.categoryId]">{{category.categoryName}}</a></li>
              </ul>
            </li>
            <!-------------->

          </ul>
          <!------------->
          <div class=" ml-auto" *ngIf="this.info.token; else logIn">
            <div class="btn-group" style="padding-right: 30px">
              <button type="button" class="btn btn-outline-secondary text-light border-1" [routerLink]="'profile'">{{info.name}}</button>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split border-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle</span>
              </button>
              <div class="dropdown-menu menu-top" style="background: #34495e">
                <a class="dropdown-item text-center" [routerLink]="'profile'">My Profile</a>
                <a class="dropdown-item text-center" [routerLink]="'register'">Register</a>
                <div *ngFor="let role of info.authorities">
                  <a class="dropdown-item text-center" *ngIf="role === 'ROLE_USER'"  [routerLink]="'order/user/manager'">Check order history</a>
                  <a class="dropdown-item text-center" *ngIf="role === 'ROLE_ADMIN'"  [routerLink]="'order/admin/manager'">Order manager</a>
                </div>
                <a class="dropdown-item text-center last-child" (click)="logout()" >Logout</a>
              </div>
            </div>
          </div>
          <ng-template #logIn >
            <div class="btn-group  ml-auto" >
              <button class="btn btn-outline-secondary btn-lg border-1 text-light" type="button"  [routerLink]="'/login'" data-toggle="dropdown" >
                Login
              </button>
            </div>

          </ng-template>
            <div *ngIf="!isAdminRole">
              <app-cart></app-cart>
            </div>
        </div>
      </nav>
    </div>
  </div>
</div>
