<!--<div class="row p-2">-->
<!--  <div class="align-content-center">-->
<!--    <h5>-->
<!--      Giỏ hàng-->
<!--      <mark>({{itemCount}} sản phẩm):</mark>-->
<!--      <span class="text-danger">{{(cart | async).grossTotal | currency:'VND':true}}</span>-->
<!--    </h5>-->
<!--  </div>-->
<!--</div>-->

  <div class="row p-2">
    <div>
      <a style="display: inline" class="btn btn-outline-warning btn-lg mr-2"
         [attr.disabled]="itemCount === 0 ? true : null"
         routerLink="/cart">Giỏ hàng</a>
      <span class="text">
        <span class="text-success">({{itemCount}} sản phẩm) : </span>
        <span class="text-danger">{{(cart | async).grossTotal | currency:'VND':true}}</span>
      </span>
    </div>
    <!--  <button type="button"-->
    <!--          class="btn btn-danger"-->
    <!--          (click)="emptyCart()"-->
    <!--          [attr.disabled]="itemCount === 0 ? true : null">-->
    <!--    Xóa hết sản phẩm-->
    <!--  </button>-->
  </div>
