<h3>#Order detail </h3>
<table border="1px">
  <th>STT</th>
  <th>Order code</th>
  <th>Buyer</th>
  <th>Product name</th>
  <th>Size</th>
  <th>Color</th>
  <th>Quantity</th>
  <th>Date order</th>
  <th>Product price</th>
  <th>Amount</th>
  <tr *ngFor="let a of productDetails; index as i">
    <td>{{i+1}}</td>
    <td>{{a.order.id}}</td>
    <td>{{a.order.user.username}}</td>
    <td>{{a.product.name}}</td>
    <td>{{a.size.name}}</td>
    <td>{{a.color.name}}</td>
    <td>{{a.quantity}}</td>
    <td>{{a.order.date | date: 'dd/MM/yyyy'}}</td>
    <td>{{a.product.price| currency: 'VND'}}</td>
    <td>{{a.order.total| currency: 'VND'}}</td>

  </tr>
</table>
