<div class="container">
  <div class="row">
    <div class="col-12 col-sm-7 col-md-7 bg-warning">
      <p>Phần Mũ: VẢI DỆT LITEKNIT
        + Sợi vải dệt được làm từ Polyeste và thun.
        + Công nghệ dệt đa chiều (nhiều lớp) làm phần vải mũ giầy có độ co giãn tốt và cố định nhờ công nghệ dệt đa chiều. Do vậy, vải không bị giãn/biến dạng trong quá trình sử dụng.
        + Song song đó, phần mũ giầy được dệt với các lỗ thoát khí tạo sự thông thoáng, ôm chân và giúp đôi chân thoải mái trong suốt thời gian sử dụng.
        + Chất lượng vải dệt của C19.005-DE có độ kháng khuẩn cao.</p>
    </div>
    <div class="col-12 col-sm-5 col-md-5 bg-success">
        <p>Phần Mũ: VẢI DỆT LITEKNIT
          + Sợi vải dệt được làm từ Polyeste và thun.
          + Công nghệ dệt đa chiều (nhiều lớp) làm phần vải mũ giầy có độ co giãn tốt và cố định nhờ công nghệ dệt đa chiều. Do vậy, vải không bị giãn/biến dạng trong quá trình sử dụng.
          + Song song đó, phần mũ giầy được dệt với các lỗ thoát khí tạo sự thông thoáng, ôm chân và giúp đôi chân thoải mái trong suốt thời gian sử dụng.
          + Chất lượng vải dệt của C19.005-DE có độ kháng khuẩn cao.</p>
    </div>
  </div>
</div>
