<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Footer -->
<footer class="pt-5 pb-4" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">ĐỊA CHỈ</h3>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-map-marker"></i></div>
              <div class="col-10">
                <h4 class="font-weight-bold mb-0">Address:</h4>
                <p>Lô TT 04 - Hàm Nghi - Nam Từ Liêm - Hà Nội</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="far fa-envelope"></i></div>
              <div class="col-10">
                <h4 class="font-weight-bold mb-0">Email:</h4>
<!--                <h6 class="font-weight-bold mb-0">Have any questions?</h6>-->
                <p><a href="#">com.codegym@gmail.com</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-phone-volume"></i></div>
              <div class="col-10">
                <h4 class="font-weight-bold mb-0">Phone number:</h4>
                <p><a href="#">+84 123 456 789</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">GIỚI THIỆU</h3>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">bạn không thể không biết đến sự phát triển của thị trường kinh doanh ứng dụng công nghệ marketing online</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">Dưới sự phát triển như vũ bão của công nghệ hiện đại</p>
              </div>
            </div>
          </li>
          <li>
          </li>
        </ul>
      </div>


      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">CẬP NHẬT MỚI</h3>
        <ul class="recent-post">
          <li>
            <label class="mr-3">Ngiêm <br><span>Nam</span></label>
            <span>Rendomised words which dont look eveable.</span>
          </li>
          <li>
            <label class="mr-3">Nghĩa <br><span>Nùn</span></label>
            <span>We bring for our customer latest version web, which no different from the old version.</span>
          </li>
        </ul>
      </div>


      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">KẾT NỐI</h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Email Address">
          <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
        </div>
        <ul class="social-pet mt-4">
          <li><a href="https://www.facebook.com/tien.nghia.967" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/nghia_nun" title="twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="https://www.instagram.com/nghianun/?hl=vi" title="instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center text-white">
          &copy; 2020 CodeGym-team 3. Are you ready?
        </div>
      </div>
    </div>
  </div>
</section>
