<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;  <li><img src="" alt=""></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->

<!--<div id="main">-->
<!--  <div class="container">-->
<!--    <h1>Carousel with bootstrap</h1>-->
<!--    <div id="carousel-simple" class="carousel slide col-md-6 col-md-offset-3" data-ride="carousel">-->
<!--      &lt;!&ndash; Indicators &ndash;&gt;-->
<!--      <ol class="carousel-indicators">-->
<!--        <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>-->
<!--        <li data-target="#carousel-simple" data-slide-to="1"></li>-->
<!--        <li data-target="#carousel-simple" data-slide-to="2"></li>-->
<!--        <li data-target="#carousel-simple" data-slide-to="3"></li>-->
<!--      </ol>-->

<!--      &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--      <div class="carousel-inner" role="listbox">-->
<!--        <div class="item active"  *ngFor="let slide of slideShows | async">-->
<!--          <img src="{{slide.image}}" alt="">-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <img src="media/products/3.png" alt="">-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <img src="media/products/17.png" alt="">-->
<!--        </div>-->
<!--        <div class="item">-->
<!--          <img src="media/products/24.png" alt="">-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Controls &ndash;&gt;-->
<!--      <a class="left carousel-control" href="#carousel-simple" role="button" data-slide="prev">-->
<!--        <i class="fa fa-chevron-left" aria-hidden="true"></i>-->
<!--      </a>-->
<!--      <a class="right carousel-control" href="#carousel-simple" role="button" data-slide="next">-->
<!--        <i class="fa fa-chevron-right" aria-hidden="true"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
