.bg-top{
  background-color: #ecf0f1;
}
ul li{
  float: left;
  list-style: none;
}
 ul li i{
  font-size: 12px ;
  margin-right: 5px;
}
ul li a{
  display: block;
}
.cart{
  margin-left: 73px;
}
.marquee{
  border-top: 1px solid #ecf0f1;
}

