<div class="container-fluid bg-top">
  <div class="container">
    <div class="row">
      <div class="col-6 float-left">

      </div>
      <div class="col-6 float-right">
        <ul>
          <li class="mr-3 ml-5"><p>Hotline: <span><b class="text-info">1800.8668</b></span></p></li>
          <li class="mr-3"><a routerLink="register"><i class="fa fa-lock"></i>Đăng ký</a></li>
          <li class="mr-3"><a routerLink="login"><i class="fa fa-user"></i>Đăng nhập</a></li>
          <li><a routerLink="profile"><i class="fa fa-user"></i>Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="col-2 offset-6">
        <div class="logo" align="center">
          <img src="../../../../assets/images/drake_logo.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="col-6 float-left">

      </div>
      <div class="float-right">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
    <div class="col-md-6 offset-3">
      <marquee>
        <ul class="ml-auto">
          <li class="mr-3"><p>Hotline: <span><b class="text-info">1800.8668</b></span></p></li>
          <li class="mr-3"><a routerLink="register"><i class="fa fa-lock"></i>Đăng ký</a></li>
          <li class="mr-3"><a routerLink="login"><i class="fa fa-user"></i>Đăng nhập</a></li>
          <li><a routerLink="profile"><i class="fa fa-user"></i>Profile</a></li>
        </ul>
      </marquee>
  </div>
</div>
