<div class="container p-2 ">
  <div class="table ">
    <div class="row">
      <div class="col-md-8">
        <table border="1px">
          <tr class="btn-warning text-center">
            <th>PRODUCT</th>
            <th>IMAGE</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </tr>

          <tr *ngFor="let item of cartItems" class="text-center">
            <td class="text-primary font-weight-bold">{{item.product.name}}</td>
            <td>  <img [src]="[item.product.pictures[0].src]" class="profile-img-card offset-3" style="width: 25%"/></td>
            <td>{{item.product.price | currency: 'VND'}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.totalCost | currency: 'VND'}}</td>
          </tr>
        </table>
      </div>

<!--      <div class="col-md-4">-->
<!--        <h4 class="btn btn-success text-center font-weight-bold" style="width: 300px">Mời bạn chọn size</h4>-->
<!--        <div *ngFor="let option of orderDetail | async">-->
<!--          <div>-->
<!--            <input type="radio"-->
<!--                   id="{{option.name}}"-->
<!--                   [checked]="option.id === (cart | async).id"-->
<!--                   (click)="setOrderDetail(option)">-->
<!--            <label class="text-primary p-2 m-2" for="{{option.name}}"-->
<!--                   (click)="setOrderDetail(option)">{{option.name}}</label>-->
<!--            <p class=" text-left">{{option.salePrice * itemCount | currency:'VND':true}}-->
<!--              ({{option.salePrice | currency: 'VND'}} trên mỗi sản phẩm)</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div><h4>Lưu ý:</h4></div>-->
<!--        <div>-->
<!--          <h6>Với hóa đơn trên-->
<!--            <mark><span class="text-danger">100.000đ</span></mark>-->
<!--            bạn sẽ được miễn phí ship trong bán kính 5km-->
<!--          </h6>-->
<!--        </div>-->
<!--        <br/>-->

<!--        <div class="col-md-12">-->
<!--          <h4>-->
<!--            Tổng hóa đơn:-->
<!--            <mark><span class="text-danger">{{(cart | async).grossTotal | currency:'VND':true}}</span></mark>-->
<!--          </h4>-->
<!--        </div>-->
<!--        <br/>-->

<!--        <div class="col-md-12">-->
<!--          <h5 class="btn btn-info" style="width: 260px"-->
<!--              *ngIf="(cart | async).id === undefined">Bạn hãy chọn size trước nhé</h5>-->
<!--          <a class="btn btn-success" style="width: 260px"-->
<!--             *ngIf="(cart | async).id !== undefined"-->
<!--             routerLink="/confirmed">Tiến hành thanh toán</a>-->
<!--        </div>-->
<!--        <h5 style="margin-left: 130px">or</h5>-->
        <div class="row p-2">
          <div class="text-center">
            <a class="btn btn-info" style="width: 300px"
               routerLink="/home">Tiếp tục mua hàng</a>
          </div>
        </div>

      </div>
    </div>
  </div>
<!--</div>-->
