<div class="container p-2 ">
  <div class="table ">
    <div class="row">
        <div class="mb-3">
          <a class="btn btn-info" style="width: 300px"
             routerLink="/product">Tiếp tục mua hàng</a>
        </div>
        <table class="table">
          <thead class="bg-warning text-center">
            <th>PRODUCT</th>
            <th>IMAGE</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </thead>

          <tr *ngFor="let item of cartItems" class="text-center">
            <td class="text-primary font-weight-bold">{{item.product.name}}</td>
            <td>  <img [src]="[item.product.pictures[0].src]" class="profile-img-card" style="width: 25%"/></td>
            <td>{{item.product.price | currency: 'VND'}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.totalCost | currency: 'VND'}}</td>
          </tr>
          <tr>
            <td class="text-primary font-weight-bold">Tổng tiền</td>
            <td colspan="4" class="text-right"><mark><span class="text-danger">{{(cart | async).grossTotal | currency:'VND':true}}</span></mark></td>
          </tr>
        </table>

<!--      <div class="col-md-4">-->
<!--        <h4 class="btn btn-success text-center font-weight-bold" style="width: 300px">Mời bạn chọn size</h4>-->
<!--        <div *ngFor="let option of orderDetail | async">-->
<!--          <div>-->
<!--            <input type="radio"-->
<!--                   id="{{option.name}}"-->
<!--                   [checked]="option.id === (cart | async).id"-->
<!--                   (click)="setOrderDetail(option)">-->
<!--            <label class="text-primary p-2 m-2" for="{{option.name}}"-->
<!--                   (click)="setOrderDetail(option)">{{option.name}}</label>-->
<!--            <p class=" text-left">{{option.salePrice * itemCount | currency:'VND':true}}-->
<!--              ({{option.salePrice | currency: 'VND'}} trên mỗi sản phẩm)</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <br/>-->

        <div class="row  ml-auto mt-3">
          <div>
            <button type="button"
                    class="btn btn-danger"
                    (click)="emptyCart()"
                    [attr.disabled]="itemCount === 0 ? true : null">
              Xóa hết sản phẩm
            </button>
          </div>
          <div class="col-md-6">
            <a class="btn btn-success" style="width: 260px"
               routerLink="/confirmed">Tiến hành thanh toán</a>
          </div>
        </div>

      </div>
    </div>
  </div>

<!--</div>-->
