<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-md-12" align="center">
          <img [src]="[product.pictures[0].src]" width="250px"/>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-md-3" *ngFor="let image of product.pictures,  index as i">
          <img src="{{image.src}}" width="80px">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h2>Thông tin chi tiết</h2>
        <hr/>
          <div>
            <label><b>Name : </b></label> {{product.name}}
          </div>
          <div>
            <label><b>Price : </b></label> {{product.price}}
          </div>
          <div>
            <label><b>Description : </b></label> {{product.description}}
          </div>
          <div>
            <label><b>Quantity : </b></label> {{product.quantity}}
          </div>
      </div>
      <div class="row mt-3">
        <div class="mr-3 ml-3">
          <a (click)="addCart(product.id)" class="btn btn-outline-success">Add cart</a>
        </div>
        <div>
          <a (click)="backToList()" class="btn btn-outline-warning">Back to list</a>
        </div>
      </div>
    </div>
  </div>
</div>
