<div class="container">
  <div class="row mb-5">
      <img [src]="[product.pictures[0].src]" class="profile-img-card offset-3" style="width: 25%"/>
    <div class="col-12 col-sm-5 col-md-5">
      <h2>Thông tin chi tiết</h2>

      <hr/>
      <div *ngIf="product">
        <div>
          <label><b>Name : </b></label> {{product.name}}
        </div>
        <div>
          <label><b>Price : </b></label> {{product.price}}
        </div>
        <div>
          <label><b>Description : </b></label> {{product.description}}
        </div>
        <div>
          <label><b>Quantity : </b></label> {{product.quantity}}
        </div>
      </div>

      <br>
      <br>
      <p>
        <button type="button"
                class="btn btn-outline-primary"
                (click)="addProductToCart(product, 1)">Thêm vào giỏ
        </button>
        <button type="button"
                class="btn btn-outline-danger"
                *ngIf="productInCart(product) | async"
                (click)="removeProductFromCart(product, 1)">Xóa sản phẩm này
        </button>
      </p>

    </div>
  </div>
</div>
<app-shopping-cart></app-shopping-cart>
