<div class="container">
  <h2>Giới Thiệu</h2>
  <br>
  <br>
  <strong>
    <img src="https://namsport.vn/public/files/upload/default/images/san-pham/adidas/yeezy-350-v2-blutint-namsport.jpg" height="400px" width="500px">
  </strong>
  <br>
  <h1>
    CÔNG TY GIÀY VIỆT NAM
  </h1>
  <h3>
    Địa chỉ: Số 24 TT01, Mon City, Hàm Nghi, Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam
    <br>
    Website: http://localhost:54696
    <br>
    Email: nghia.lahm123@gmail.com
  </h3>
<span style="font-size: 25px">
  <strong>giầy</strong>
  "&nbsp;công ty đc thành lập vào ngày 5 tháng 2 năm 2020, có trụ sở chính tại hà nội và các thành phố lớp trên cả nước, chi nhánh của công ty được đặt tại các huyện trong thành phố đó.&nbsp;"
  <br>
  <br>
  <strong>giầy việt nam</strong>
  "&nbsp;Các sản phẩm cụ thể của công ty gồm có: giày công sở, giày dạ hội, giày thường nhật, giày sneaker, giày sandal và dép lê. Hầu hết các sản phẩm đều làm bằng da thật cho nam giới và nữ giới
  <br>
  <br>
  "Sản phẩm của Giầy đã được đăng ký chất lượng tại chi cục kiểm nghiệm và đo lường chất lượng thành phố Hồ Chí Minh. Nhãn hiệu Nghĩa nùn đã được cấp giấy chứng nhận kiểu dáng công nghiệp số: 340-05/11/1991 số 2443."
  <br>
  <br>
  "Các kiểu dáng sản phẩm Vina-Giầy luôn thay đổi để theo kịp thị hiếu và thời trang của khách hàng, thông qua kỹ thuật tạo mẫu trên máy vi tính, nghiên cứu các danh mục thời trang nước ngoài. Ðặc biệt nghiên cứu trên các mẫu thiết kế giày do Giám đốc công ty thực hiện qua những chuyến đi du lịch, các cuộc hội chợ, triển lãm và các nghiên cứu sản phẩm da và giả da tại Ấn Ðộ, Pháp Italy và các nước châu Âu khác."
  <br>
  <br>
  "Giày nhãn hiệu Vinagico đã được cấp chứng nhận bảo vệ quyền sở hữu công nghiệp ngày 05 tháng 11 năm 1991, giành được 8 bộ huy chương vàng tại Hội chợ triển lãm quốc tế tại Hà Nội và Hội chợ Thương mại Hải Phòng, được khách hàng bầu chọn là Hàng Việt Nam Chất Lượng Cao 23 năm liền: 1997 - 1998 - 1999 - 2000 - 2001 - 2002 - 2003 - 2004.- 2005 - 2006 - 2007 - 2008 - 2009 - 2010 - 2011 - 2012 - 2013 - 2014 - 2015 - 2016 - 2017 - 2018 - 2019.
  Hiện đang là thành viên các hiệp hội giầy trên thế giới : Tổ chức SATRA tại Anh và NSRA tại Mỹ."
</span>
</div>

