<!--<h2 class="text-center">Edit Product detail</h2>-->
<!--<form [formGroup]="editForm" (ngSubmit)="update()" class="col-md-6 offset-md-3">-->

<!--    <div class="form-group row">-->
<!--      <label class="col">-->
<!--        Product-->
<!--        <select class="custom-select " formControlName="product">-->
<!--          <option value="" selected disabled hidden>Please select product</option>-->
<!--          <option  value="{{product.id}}">{{product.name}}</option>-->
<!--        </select>-->
<!--      </label>-->
<!--    </div>-->

<!--  <div class="form-group row">-->
<!--    <label class="col">-->
<!--      Color-->
<!--      <select class="custom-select " formControlName="color">-->
<!--        <option value="" selected disabled hidden>Please select color</option>-->
<!--        <option  *ngFor="let color of colors" value="{{color.id}}">{{color.name}}</option>-->
<!--      </select>-->
<!--    </label>-->
<!--  </div>-->

<!--  <div class="form-group row">-->
<!--    <label class="col">-->
<!--      Size-->
<!--      <select class="custom-select " formControlName="size">-->
<!--        <option value="" selected disabled hidden>Please select size</option>-->
<!--        <option  *ngFor="let size of sizes" value="{{size.id}}">{{size.name}}</option>-->
<!--      </select>-->
<!--    </label>-->
<!--  </div>-->

<!--  <div class="form-group row">-->
<!--    <label class="col">-->
<!--      Order quantity-->
<!--      <input type="number" class="form-control" formControlName="quantity">-->
<!--    </label>-->
<!--  </div>-->



<!--  &lt;!&ndash;  <div class="form-group row">&ndash;&gt;-->
<!--  &lt;!&ndash;    <label class="col">&ndash;&gt;-->
<!--  &lt;!&ndash;      Price&ndash;&gt;-->
<!--  &lt;!&ndash;      <input type="text" *ngFor="let product of products" value="{{product.price}}", "{{}}">&ndash;&gt;-->
<!--  &lt;!&ndash;    </label>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->




<!--  <div class="form-group">-->
<!--    <button class="btn btn-info" type="submit">Tạo mới</button>-->
<!--  </div>-->
<!--</form>-->
